@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-global: #202c33;
  --background--app: #202c33;
  --input-bg: #f6f6f6;
}
body {
  background-color: var(--background-global);
}
.App {
  display: flex;
  height: 100vh;
  background-color: var(--background--app);
}
.sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2c3941;
}
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 15px;
}
.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header--buttons {
  display: flex;
}
.header--btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search {
  background-color: var(--background--app);
  border-bottom: 1px solid #2c3941;
  padding: 5px 15px;
}
.search--input {
  background-color: #24282b;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search--input input {
  border: none;
  flex: 1;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  color: white;
}
.chatlist {
  flex: 1;
  background-color: #111b21;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2);
}
.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
.contentarea {
  width: 75%;
  height: 100vh;
}
